.page-heading {
    padding: 10px 0 50px;
}

.back-btn {
    position: absolute;
    top: 36px;
    left: 10%;
    cursor: pointer;
}

.select-org-desp {
    padding-bottom: 20px;
}

.org-change-sec {
    margin-bottom: 50px;
}

.marketing-obj-btn {
    color: #2466ea;
    border: solid 1px #2466ea;
    margin-top: 50px;
}